# Build output
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Packages/
